{% extends "base.html" %}

{% block title %}Content Block{% endblock %}

{% block navigation_button %}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-around mt-5 mb-3">

            <div class="card mx-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Edit topic Blacklist</h5>
                    <h6>Select the topics you want to remove, then click "Apply"</h6>

                    {% if supported_topics|length > 0 %}
                        <div id="topic_blacklist_div">
                            {% for topic in supported_topics %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check_{{ topic }}" {% if topic in topic_blacklist%}checked{% endif %}>
                                    <label class="form-check-label" for="check_{{ topic }}">{{ topic }}</label>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary mb-3" onclick="post_topics()">Submit</button>
                        </div>
                    {% else %}
                        <span>This classifier does not support any topics</span>
                    {% endif %}
                </div>
            </div>



            <div class="card mx-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Change classifier aggressiveness</h5>

                    {% if active_classifier.aggressiveness_min != active_classifier.aggressiveness_max %}
                        <h6>Click on "Change" button to apply</h6>
                        <div id="aggressiveness_div" class="form-floating mb-3">
                            <input type="number" class="form-control" id="aggressiveness_input" placeholder={{ active_classifier.aggressiveness_recommended }} value="{{ active_classifier.aggressiveness }}" min={{ active_classifier.aggressiveness_min }} max={{ active_classifier.aggressiveness_max }} step=0.05>
                            <label for="aggressiveness_input" class="form-label">Classifier aggressiveness. Min: {{ active_classifier.aggressiveness_min }}, Max: {{ active_classifier.aggressiveness_max }}</label>
                            <button type="button" class="btn btn-primary mt-3" onclick="post_aggressiveness()">Change</button>
                        </div>
                        <span>{{active_classifier.aggressiveness_description}}</span>
                    {% else %}
                        <span>{{active_classifier.aggressiveness_description}}</span>
                    {% endif %}


                </div>
            </div>


            <div class="card mx-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Available classifiers</h5>
                    <h6>Click to change</h6>

                    <div class="d-flex flex-column mb-3">
                        {% for classifier in classifiers %}
                            <button onclick="change_classifier('{{classifier.name}}')" data-bs-toggle="tooltip" data-bs-title="{{ classifier.description }}" class="btn mb-3 {% if classifier.name == active_classifier.name %} btn-success {% else %} btn-primary {% endif %}">{{ classifier.nickname }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    <script>
        $( document ).ready(function() {
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        });
        function post_topics(){
            let endpoint="/topic_blacklist"
            let to_ret = []
            for (const topic of [{% for topic in supported_topics %}"{{ topic }}", {% endfor %}] ) {
                if($("#check_" + topic).is(':checked')){
                    to_ret.push(topic)
                }
            }

            $.post({
                url: endpoint,
                data: JSON.stringify({"topics": to_ret}),
                dataType:"application/json"})
                .done(function () {
                    make_toast("Success", "Topics edited.")
                })
                .fail(function () {
                    make_toast("Error", "Error changing topics.")
                }).always(function (){
                    //Nothing for now
                });
        }

        function post_aggressiveness(){
            let endpoint="/aggressiveness"

            $.post({
                url: endpoint,
                data: JSON.stringify({"aggressiveness": $("#aggressiveness_input").val()}),
                dataType:"application/json"})
                .done(function () {
                    make_toast("Success", "Topics edited.")
                })
                .fail(function () {
                    make_toast("Error", "Error changing topics.")
                }).always(function (){
                    //Nothing for now
                });
        }

        function change_classifier(classifier){
            let endpoint="/classifier"

            $.post({
                url: endpoint,
                data: JSON.stringify({"classifier": classifier}),
                dataType:"application/json"})
                .done(function () {
                    make_toast("Success", "Classifier changed.")
                })
                .fail(function () {
                    make_toast("Error", "Error changing topics.")
                }).always(function (){
                    document.location.href = "/"
                });
        }

    </script>
{% endblock %}