<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icon_32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icon_16.png">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    </head>
    <body data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg" >
            <div class="container-fluid">
                <a class="navbar-brand flex-grow-1 ms-3" href="/">ContentBlock</a>

                <a class="btn btn-danger" type="button" id="shutdownButton" href="/shutdown">
                    <i class="bi bi-power h4"></i>
                </a>
            </div>
        </nav>

        <div class="d-flex flex-row justify-content-around mt-5 mb-3">

            <div class="card mx-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Edit topic Blacklist</h5>
                    <h6>Select the topics you want to remove, then click "Apply"</h6>

                    {% if supported_topics|length > 0 %}
                        <div id="topic_blacklist_div">
                            {% for topic in supported_topics %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check_{{ topic }}" {% if topic in topic_blacklist%}checked{% endif %}>
                                    <label class="form-check-label" for="check_{{ topic }}">{{ topic }}</label>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-primary mb-3" onclick="post_topics()">Submit</button>
                        </div>
                    {% else %}
                        <span>This classifier does not support any topics</span>
                    {% endif %}
                </div>
            </div>



            <div class="card mx-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Change classifier aggressiveness</h5>
                    <h6>Click on "Change" button to apply</h6>

                    <div id="aggressiveness_div" class="form-floating mb-3">
                        <input type="number" class="form-control" id="aggressiveness_input" placeholder=1.0 value="{{ aggressiveness }}" min=1.0 step=0.05>
                        <label for="aggressiveness_input">Classifier aggressiveness</label>
                        <button type="button" class="btn btn-primary mb-3" onclick="post_aggressiveness()">Change</button>
                    </div>
                </div>
            </div>


            <div class="card mx-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">Available classifiers</h5>
                    <h6>Click to change</h6>

                    <div class="d-flex flex-column mb-3">
                        {% for classifier in classifiers %}
                            <button onclick="change_classifier('{{classifier.name}}')" class="btn mb-3 {% if classifier.name == active_classifier %} btn-success {% else %} btn-primary {% endif %}">{{ classifier.nickname }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>


        <div class="toast-container z-2 fixed-bottom" id="toast_container">
            <!-- div for alerts -->
        </div>
    </body>

    <script>
        function post_topics(){
            let endpoint="/topic_blacklist"
            let to_ret = []
            for (const topic of [{% for topic in supported_topics %}"{{ topic }}", {% endfor %}] ) {
                if($("#check_" + topic).is(':checked')){
                    to_ret.push(topic)
                }
            }

            $.post({
                url: endpoint,
                data: JSON.stringify({"topics": to_ret}),
                dataType:"application/json"})
                .done(function () {
                    make_toast("Success", "Topics edited.")
                })
                .fail(function () {
                    make_toast("Error", "Error changing topics.")
                }).always(function (){
                    //Nothing for now
                });
        }

        function post_aggressiveness(){
            let endpoint="/aggressiveness"

            $.post({
                url: endpoint,
                data: JSON.stringify({"aggressiveness": $("#aggressiveness_input").val()}),
                dataType:"application/json"})
                .done(function () {
                    make_toast("Success", "Topics edited.")
                })
                .fail(function () {
                    make_toast("Error", "Error changing topics.")
                }).always(function (){
                    //Nothing for now
                });
        }

        function change_classifier(classifier){
            let endpoint="/classifier"

            $.post({
                url: endpoint,
                data: JSON.stringify({"classifier": classifier}),
                dataType:"application/json"})
                .done(function () {
                    make_toast("Success", "Classifier changed.")
                })
                .fail(function () {
                    make_toast("Error", "Error changing topics.")
                }).always(function (){
                    document.location.href = "/"
                });
        }

        function make_toast(title, text){
            // try to find available id
            let toast_name = 0
            while($("#toast_" + toast_name).length){
                toast_name += 1
            }

            let child = '<div id="toast_'+toast_name+'" class="toast" role="alert" aria-live="assertive" aria-atomic="true">\n' +
                '<div class="toast-header">\n<i class="bi bi-info-lg rounded me-2"></i>\n<strong class="me-auto">'+title+'</strong>\n' +
                '<small class="text-body-secondary">message</small>\n<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>\n</div>\n' +
                '<div class="toast-body">\n' +text+ '\n</div>\n</div>\n'

            $("#toast_container").append(child)
            var toast = new bootstrap.Toast($("#toast_" + toast_name));
            toast.show();
        }

    </script>
</html>